:root {
    --varFontStyle: 'open sans', sans-serif;
    --vWidthNavBar: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--varFontStyle);
}
body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    
}

.classContainer {
    width: 100%;
    max-width: 1500px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
    color: black;
}

