nav {
    background-color: gold;
    height: 100%;
    width: var(--vWidthNavBar);
    position: fixed;
    z-index: 1;
    transition:all 500ms ease-in-out;
}

.classNavWidth {
    width: 160px
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

nav ul li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem 0 .5rem .5rem;
    font-size: 1.5rem;
}

nav ul li a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    /* color: black; */
    color: transparent;
    transition:all 500ms ease-in-out;
}

.classNavTextSize {
    color: black;
}

.icoLogo {
    width: 30px;
    height: 30px;
    fill: black;
    margin-right: .5rem;
}


