.classPortada {
  background-color: var(--vbackGroundColor);
  background: url(../assets/images/backCoverwebp.webp) no-repeat center center;
  height: 100vh;
  width: calc(100% - var(--vWidthNavBar));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: var(--vWidthNavBar);
  transition:all 500ms ease-in-out;
  mask-image: linear-gradient(to bottom, var(--vbackGroundColor) 90%, transparent 100%);

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 1rem;
  
    & .icoLogoApple {
      width: 65px;
      height: 65px;
      margin-right: 1rem;
      fill: #FFFFFF;
    }
  }
  
  & h2 {
    font-size: 30px;
  }

  & h1, h2 {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-family: var(--varFontStyle);
  }

}

.classPortadaWidth {
  width: calc(100% - 160px);
  margin-left: 160px;
}


@media (max-width:800px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .icoApple {
    width: 40px;
  }
}

@media (max-width:750px) {

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .icoApple {
    width: 30px;
  }

}

@media (max-width:500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 15px;
  }
  .icoApple {
    width: 20px;
  }
}