:root {
  --varFontStyle: 'open sans', sans-serif;
  --vWidthNavBar: 50px;
  --vBackGroundColor: #4A4A4A;
  --vMaxWidth: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  & body {
    background-color: var(--vBackGroundColor);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & .classContainer {
      align-content: center;
      width: 100%;
    }

    & a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      color: black;
    }
  
  }
  
}




