.classPortada {
  background-image: url("/assets/images/backCoverwebp.webp");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: calc(100% - var(--vWidthNavBar));

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: var(--vWidthNavBar);
  transition:all 500ms ease-in-out;
  mask-image: linear-gradient(to bottom, var(--vBackGroundColor) 90%, transparent 100%);

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 1rem;

    @media(width < 800px){
      font-size: 50px;
    }
    @media(width < 750px){
      font-size: 40px;
    }
    @media(width < 550px){
      font-size: 30px;
    }
  
    & .icoLogoApple {
      width: 65px;
      height: 65px;
      margin-right: 1rem;
      fill: #FFFFFF;
    }
  }
  
  & h2 {
    font-size: 30px;

    @media(width < 800px){
      font-size: 30px;
    }
    @media(width < 750px){
      font-size: 20px;
    }
    @media(width < 550px){
      font-size: 15px;
    }
  }

}

h1, h2 {
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  font-family: var(--varFontStyle);
}

.classPortadaWidth {
  width: calc(100% - 160px);
  margin-left: 160px;
}

