.classSection {
  font-family: var(--varFontStyle);
  background-color: var(--vbackGroundColor);
  min-height: 100vh;
  position: relative;
  width: calc(100% - var(--vWidthNavBar));
  margin-left: var(--vWidthNavBar); 
  margin-bottom: 4rem;
  transition:all 500ms ease-in-out;
}

.classSectionWidth {
  width: calc(100% - 160px);
  margin-left: 160px;
}

.classSectionApps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  & h3 {
    color: #FFFFFF;
    font-size: 32px;
    margin-bottom: 1rem;
  }

  & .classApps {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  
    & a {
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: ease-in .4s;
      
      & img {
        border-radius: 10%;
        display: flex;
        align-items: center;
        height: 7rem;
        margin-bottom: 1rem;
        
      }

      & h4 {
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
      }
    }

    & a:hover {
      transform: scale(1.2);
    }
  }

}